*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  body{
    /* background:linear-gradient(24deg, #6BBCED,#0E56BB); */
    /* background-color: skyblue; */
    background-image: url('./assets/book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  /* .can{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
    /* color: white; 
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    margin: auto;
  } */
   
  
  .form-container {
    width: 500px;
    margin: auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    /* background-color: rgb(51, 51, 206); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h1 {
    text-align: center;
    margin: 0 ;
    font-size: 30px;
  }
  
  .form-container h2 {
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: center;
  }
  
  .form-container hr {
    margin: 20px 0;
    color: black;
  }
  
  .form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="tel"],
  .form-container textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .form-container textarea {
    resize: vertical;
  }
  
  .form-container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .form-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  .form-container button[type="button"] {
    float: left;
  }
  
  
  
  /* confirmation */
  
  .containerr {
    width: 500px;
    margin: auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .containerr h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .containerr h2 {
    /* font-size: 1.2rem; */
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* .containerr hr {
    margin: 20px 0;
  } */
  
  .containerr label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .containerr ul {
    padding: 0;
    margin: 0;
  }
  
  .containerr ul li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .containerr button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .containerr button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .containerr button[type="button"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  .containerr button[type="button"]:hover {
    background-color: #0056b3;
  }
  
  
  /* thank you */
  
  .thank-you-container {
    width: 500px;
    margin: auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    background-color: rgb(42, 42, 189);
    color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .thank-you-container h2 {
    /* color: #007bff; */
    margin-bottom: 10px;
    font-size: 40px;
  }
  
  .thank-you-container p {
    margin-bottom: 20px;
  }
  
  .thank-you-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .thank-you-container button:hover {
    background-color: #0056b3;
  }
  
  
  /* stepper */
  
  /* .stepper-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20px;
  } */
  